.main
  .title
    width: 100%
    margin-bottom: 10px
    display: block
    text-align: center
    font: 18px / 20px Arial
    color: #000000

  #last-posts
    display: block
    padding: 20px
    border: 1px #abc5dd solid
    background: #abc5dd


