nav.nav
  margin: 0 0 20px
  padding: 10px
  text-align: center
  border: 1px #abc5dd solid
  background: #abc5dd

  a
    margin: 0 10px
    display: inline-block
    color: #000000
    &.active
      color: #62707e
      text-decoration: none